* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 26, 26);
    color: white;
}

input {
    padding: 10px;
    display: block;
    width: 100%;
}

button {
    padding: 10px;
}

main {
    padding: 15px;
}

.result {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(240px, 1fr));
}

.result img {
    width: 250px;
    height: 250px;
}